{% extends 'RentBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}
{% block headline %}Konfiguration{% endblock %}

{% block content %}

<table class="table table-striped">
	<tbody>
		{% for config in configuration %}
			<tr>
				<td>{{ config.name }}</td>
				<td class="span3"><a href="{{ path('configuration_update', {'id': config.id}) }}" class="btn btn-small btn-primary"><i class="icon-white icon-pencil"></i> Bearbeiten</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
