{% extends 'RentBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block headline %}ITZ Geräteverleih{% endblock %}

{% block content %}
	{{ site.content|raw }}

	<form method="post" action="{{ path('user_register') }}" class="form-horizontal">
  		<div class="control-group">
    		<label class="control-label" for="inputNkz">Nutzerkennzeichen</label>
    		<div class="controls">
      			<input type="text" id="inputNkz" placeholder="abcde" name="inputNkz" />
    		</div>
  		</div>
		<div class="control-group">
    		<label class="control-label" for="inputEmail">E-Mail</label>
    		<div class="controls">
      			<input type="text" id="inputEmail" placeholder="E-Mail" name="inputEmail" />
    		</div>
  		</div>
		<div class="form-actions">
  			<button type="submit" class="btn btn-primary">Registrieren</button>
		</div>
	</form>
{% endblock %}