{% extends 'RentBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block headline %}ITZ Geräteverleih{% endblock %}

{% block content %}
<p class="lead">Herzlich Willkommen auf den ITZ-Geräteverleih-Webseiten...</p>

<p>Wir bieten allen Mitarbeitern unserer Universität an, sich kurz- und/oder langfristig hochwertige Beamer und Laptops mit entsprechendem Zubehör für den Einsatz in Lehre und Forschung auszuleihen. Dafür stehen derzeit insgesamt 9 Beamer und 12 Laptops zur Verfügung.</p>

<p>
	Im einzelnen sind dies Beamer vom Typ
	<ul>
		<li>Sanyo xtraX (1024x768, 2000 Ansi Lumen)</li>
		<li>Sony VPL-PX11 (1280x1024)</li>
	</ul>
</p>

<p>
	Bei den Notebooks handelt es sich um
	<ul>
		<li>HP 6715b (AMD Turion64, 15" WSXGA-Display, 2GB RAM, 160GB HDD, DVD, WLAN, Bluetooth)</li>
		<li>Dell Latitude C810 (Pentium Mobile III 1.1GHz, 15" TFT mit 1600x1200, 256MB RAM)</li>
	</ul>
	jeweils mit Windows XP
</p>

<p>Sie erreichen uns Montags bis Donnerstags von 8-12 und 13-15 Uhr sowie Freitags von 8-12 Uhr im URZ Raum 110.</p>

<p>ACHTUNG: Wir weisen darauf hin, dass kurzfristige Leihgeräte höchtens für eine Gesamtdauer von 14 Tagen reserviert und entliehen werden können. Zwischen zwei Entleihperioden ein- und des selben Gerätes durch ein- und die selbe Person muss mindestens eine Woche liegen.</p>
{% endblock %}