{% extends 'RentBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block headline %}ITZ Geräteverleih{% endblock %}

{% block content %}
	<div>
		<div class="span8">
			{{ site.content|raw }}
		</div>
		<div class="span4">
			<div class="box">
				<header class="box-header"><h5>Kontakt</h5></header>
				{{ contact.content|raw }}
			</div>
			{% if not is_granted('ROLE_USER') %}
			<div class="box" style="margin-top: 20px;">
				<header class="box-header"><h5>Login</h5></header>
				<form method="post" class="form" action="{{ path('login_check') }}">
					<input class="input-block-level" name="_username" type="text" placeholder="{% trans %}Benutzername{% endtrans %}" />
					<input class="input-block-level" name="_password" type="password" placeholder="{% trans %}Passwort{% endtrans %}" /><br />
					<input type="submit" class="btn btn-primary" value="{% trans %}Anmelden{% endtrans %}" />
					<a href="{{ path('user_register') }}" class="btn">Zur Registrierung</a>
				</form>
				<span class="text-info">Sollten Sie ihr Passwort vergessen haben, hilft Ihnen das <a href="http://serviceportal.itz.uni-halle.de/" target="_blank"><b>Serviceportal des ITZ</b></a>, es schnell und einfach zurückzusetzen.</span>
			</div>
			{% endif %}
		</div>
	</div>
{% endblock %}