.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    height: 11px;
    top: 5px;
    right: 4px;
}

.chzn-container-single .chzn-single {
    border-radius: 4px;
}

.page-header {
    color: #5A5A5A;
}

.page-header a.btn {
    font-weight: normal;
}

.no-margin-bottom {
    margin-bottom: 0;
}

th a, th a:hover {
    color: #333333;
    text-decoration: none;
}

/*** Login ***/

.dropdown-menu-login {
    min-width: 200px;
    padding: 14px;
}

.dropdown-menu-login form {
    margin-bottom: 0;
}

label.checkbox {
    margin-bottom: 12px;
}

.form-signin {
    max-width: 400px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    margin-top: 50px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/** CALENDAR **/

div.calendar {
    text-align: center;
}

div.calendar-sheet {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    position: relative;
    padding: 20px;
    padding-top: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

div.calendar-sheet:before, div.calendar-sheet:after {
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 12px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

div.calendar-sheet:after {
    left: auto;
    right: 12px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
}

table.calendar td, table.calendar th {
    width: 2em;
    text-align: center;
    font-weight: lighter;
}

table.calendar td.booked {
    background-color: #F2DEDE;
}

table.calendar td.free {
    background-color: #DFF0D8;
}

table.calendar td.weekend {
    background-color: #F2DEDE;
    color: #B94A48;
}

table.calendar th {
    color: #808080;
    font-size: 12px;
    font-weight: bold;
}

table.calendar th.month {
    padding-bottom: 10px;
    font-family: 'Denk One', sans-serif;
    font-weight: normal;
    color: #606060;
    font-size: 16px;
}

table.calendar td a {
    color: #333333;
}

/** BOX **/

.box {
    -webkit-box-shadow: 0 1px 4px #ccc;
    -moz-box-shadow: 0 1px 4px #ccc;
    box-shadow: 0 1px 4px #ccc;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #ffffff;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 31%, rgba(0,0,0,0.05) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(31%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05)));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.05) 100%);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.05) 100%);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.05) 100%);
    background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.05) 100%);
}

.box-header {
    background: #f4f4f4;
    background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 50%, #e8e8e8 53%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(50%,#ededed), color-stop(53%,#e8e8e8), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #f4f4f4 0%,#ededed 50%,#e8e8e8 53%,#eaeaea 100%);
    background: -o-linear-gradient(top, #f4f4f4 0%,#ededed 50%,#e8e8e8 53%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #f4f4f4 0%,#ededed 50%,#e8e8e8 53%,#eaeaea 100%);
    background: linear-gradient(top, #f4f4f4 0%,#ededed 50%,#e8e8e8 53%,#eaeaea 100%);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2em;
    margin-top: 0;
    padding: 10px 20px 10px 20px;
    -webkit-box-shadow: 0 0 4px #ccc, inset 0 1px 0 rgba(255,255,255,.8);
    -moz-box-shadow: 0 0 4px #ccc, inset 0 1px 0 rgba(255,255,255,.8);
    box-shadow: 0 0 4px #ccc, inset 0 1px 0 rgba(255,255,255,.8);
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px solid #ccc;
    padding: 1px 20px;
    margin: -20px -20px 12px;
    color: #707070;
}
